<div class="nested-fields">
  <div class="fields form-group">
    <%= f.label :content,"Ingredient Content"%>
    <%= f.text_field :content %>
    <%= link_to_remove_association "Remove Ingredient", f%>
  </div>
</div>